In [1]:
import pandas as pd
import numpy as np

## maf 값 확인

In [23]:
df = pd.read_csv('../20230210_QC_Cycle_2/korea_maf_freq.frq', sep='\t') # columns 이름 지정 옵션 , names=['CHR','SNP', 'A1', 'A2', 'MAF', 'NCHROBS'])

In [24]:
df

        CHR          SNP A1 A2       MAF  NCHROBS
0         1   rs10458597  T  C  0.025360     4180
1         1    rs9651229  0  C  0.000000     4232
2         1    rs9701872  0  T  0.000000     4236
3         1   rs11497407  0  G  0.000000     4224
4         1    rs9645429  A  G  0.002127     4232
...     ...          ... .. ..       ...      ...
598053   22  kgp24706185  A  G  0.293900     4226
598054   22  rs541083098  T  C  0.001656     4228
598055   22  22:51186187  G  A  0.000474     4218
598056   22  rs113391741  G  A  0.031910     4230
598057   22  kgp22823224  T  C  0.054560     4234

[598058 rows x 6 columns]

In [35]:
df['MAF'].sort_values(ascending = False)

106187    0.5
532867    0.5
415524    0.5
168471    0.5
336526    0.5
         ...
405729    0.0
405728    0.0
405726    0.0
246299    0.0
512401    0.0
Name: MAF, Length: 598058, dtype: float64

In [26]:
len(df) - len(df[df['MAF'] > 0.01])

137530

In [27]:
df[df['MAF'] > 0.01]

        CHR          SNP A1 A2      MAF  NCHROBS
0         1   rs10458597  T  C  0.02536     4180
6         1    rs3131972  A  G  0.29730     4232
7         1     1:754198  G  A  0.02629     4222
8         1     1:755274  T  C  0.14710     4194
9         1     1:756956  A  G  0.02532     4226
...     ...          ... .. ..      ...      ...
598051   22   exm2017998  T  C  0.04320     4236
598052   22   rs77216309  T  C  0.07190     4228
598053   22  kgp24706185  A  G  0.29390     4226
598056   22  rs113391741  G  A  0.03191     4230
598057   22  kgp22823224  T  C  0.05456     4234

[460528 rows x 6 columns]